@charset "utf-8";
@import url("./font/font.css");

:root {
  /* color */
  --color-black: #000011;
  --color-beige: #f3f4f1;
  --color-white: #ffffff;
  --color-blue: #0055ff;
  --color-yellow: #ffb000;
  --color-pink: #ff004f;
  --color-light-grey: #b4b3bb;

  /* size */
  --base-space: 0.5rem;
  --size-button: 2.5rem;
  --size-border: 0.25rem;
  --size-thumbnail: 1.5rem;
  --size-height: 3.75rem;
  --font-size: 0.875rem;

  /* animation */
  --animation-duration: 250ms;

  /* font */
  --font: "Pretendard";
}

body {
  background-color: var(--color-beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  gap: 2.5rem;
  padding-top: 6%;
}
body::after {
  content: "";
  background-image: url(../img/background.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  opacity: 0.8%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-black);
  outline: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font);
}
a {
  color: inherit;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  width: 8rem;
}

/* button style sheet */
.buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 var(--size-button) var(--size-button) 0;
  height: var(--size-button);
  padding: var(--base-space) calc(var(--base-space) * 3);
  text-transform: capitalize;
  transition: background-color,
    border-radius var(--animation-duration) ease-in-out;
}

.all {
  border-radius: calc(var(--size-button) * 2);
  padding: var(--base-space) calc(var(--base-space) * 1.5);
}

.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn.active {
  background-color: var(--color-black);
  border-radius: calc(var(--size-button) * 2);
  color: var(--color-white);
}

/* list style sheet */
.items {
  width: 60%;
  max-height: 60%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--base-space);
  transition: width var(--animation-duration) ease;

  @media (max-width: 1080px) {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.items::-webkit-scrollbar {
  width: 16px;
}
.items::-webkit-scrollbar-track {
  background-color: var(--color-beige);
}
.items::-webkit-scrollbar-thumb {
  background-color: var(--color-light-grey);
  border-left: 10px solid var(--color-beige);
}
.items::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-blue);
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: calc(var(--size-border) * 2);
  padding: var(--base-space);
  gap: calc(var(--base-space) * 2);
}

.item_thumbnail {
  border-radius: var(--size-border);
  padding: var(--base-space);
}
.item_thumbnail.pink {
  background-color: var(--color-pink);
}
.item_thumbnail.blue {
  background-color: var(--color-blue);
}
.item_thumbnail.yellow {
  background-color: var(--color-yellow);
}
.item_thumbnail img {
  height: var(--size-thumbnail);
  width: var(--size-thumbnail);
}

.item_name {
  flex-grow: 1;
  font-family: var(--font);
  font-weight: 600;
  text-transform: capitalize;
}
.item_desc {
  color: var(--color-light-grey);
  font-size: var(--font-size);
  margin-right: var(--base-space);
  text-align: right;
  font-weight: 300;
}

/* copyright style sheet */
.copyright {
  bottom: 1.5rem;
  color: var(--color-light-grey);
  font-size: var(--font-size);
  font-weight: 300;
  position: absolute;
  text-align: center;
}
