:root {
  /* color */
  --color-black: #3f454d;
  --color-beige: #F3F4F1;
  --color-white: #ffffff;
  --color-blue: #0055FF;
  --color-yellow: #FFB000;
  --color-pink: #FF004F;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 0.5rem;
  --size-button: 4rem;
  --size-border: 0.25rem;
  --size-thumbnail: 2.5rem;
  --font-size: 1.125rem;

  /* animation */
  --animation-duration: 250ms
}

body {
  background-color: var(--color-beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  width: 8rem;
}

.btn {
  margin-right: var(--base-space);
}
.btn:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  overflow-y: scroll;
}
.item {
  background-color: var(--color-white);
  border-radius: calc(var(--size-border) * 2);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin: var(--base-space);
}
.item_thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}
.item_desc {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}