/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("Pretendard-SemiBold.otf") format("opentype");
}